/* Container for each password item */
.container {
    padding: 10px;
    border-bottom: 1px solid #3e3c3c; /* Separator line */
    width:15%
  }
  
  /* Title & Password in the same row */
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  /* Buttons aligned in the next row */
  .actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  